<section> 
<p id="notice"><%= notice %></p>

<h1>BUD.get app</h1>
<h2>Operations</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% result = 0 %>
    <% @operations.each do |operation| %>
      <% result += operation.amount %>
      <tr>
        <td><%= operation.name %></td>
        <td><%= operation.amount %></td>
        <td><%= operation.created_at %></td>
        <td><%= link_to 'Show', operation, class: "button_show" %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation), class: "button_edit" %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' }, class: "button_destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
Résultat: <%= result %>

<br>

<%= link_to 'New Operation +', new_operation_path, class: "button_newop" %>
</section>
